<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FUTURE PROOF | 100% BY VOL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="fonts/fonts.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->    
<header class="header_section">
    <div class="container">
        <div class="topPromo">
            <h1>Get Your Contacts in Sync </h1>
            <h1 class="h1margin">&amp; Stop Searching For Data</h1>
            <p>Sync Spot syncs contacts everywhere; filling in missing info automatically. Now you can use your address book instead of managing it.</p>
            <div class="btn">
                <a href="#" class="dark-btn">join beta</a>
                <a href="#">learn more</a>
            </div>
        </div>
    </div>
</header>
<section class="syncspot container">
    <div class="">
        <div class="synctext">
            <h1>The World’S easiest way</h1>
            <h1 class="h1margin">to keep your contacts in sync</h1>
            <p>We built The Sync Spot to sync address books across all popular platforms, effortlessly.</p>
            <div class="syncSocial">
                <a href="#"><img src="img/icon1.png" alt="icon"></a>
                <a href="#"><img src="img/icon2.png" alt="icon"></a>
                <a href="#"><img src="img/icon3.png" alt="icon"></a>
                <a href="#"><img src="img/icon4.png" alt="icon"></a>
                <a href="#"><img src="img/icon5.png" alt="icon"></a>
                <a href="#"><img src="img/icon6.png" alt="icon"></a>
                <a href="#"><img src="img/icon7.png" alt="icon"></a>
            </div>
        </div>
    </div>
</section>
<section class="testimonial_section">
    <div class="container">
        <div class="testimonial">
            <div class="testimonial_img">
                <img src="img/testimonial01.png" alt="testimonial">
            </div>
            <div class="testimonial_text">
                <p>"I didn’t realize how much time was wasted tracking down contact info until I got synced by The Sync Spot..." </p>
                <span>~Larry Heller, Music Research</span>
            </div>
            <div class="arrowdown"></div>
        </div>
    </div>
</section>
<section class="neverlook_section">
    <div class="container">
        <div class="never_look">
            <div class="top_look">
                <h1>Never look for an email address,</h1>
                <h1 class="h1margin">phone number or address again</h1>
                <p>Whenever a Sync Spot member moves, changes jobs, switches phones, add emails or social network pages, you know it instantly. </p>
            </div>
            <div class="botton_look">
                <p>Changes are seamlessly synced with all mobile devices, tablets, web and desktop contact managers.</p>
            </div>
        </div>
    </div>
</section>
<section class="graphfill_section">
    <div class="container">
        <div class="graphfill">
            <h1>Sync Spot fills THE gaps in your</h1>
            <h1 class="h1margin">address book while you sleep</h1>
            <p>Combining breakthrough A.I. technologies, The Sync Spot scours the web filling in any missing address, email, phone, and social from a wide range of public sources.</p>
        </div>
    </div>
</section>
<section class="join_section">
    <div class="container">
        <div class="join">
            <h1>ready?</h1>
            <h2 class="h1margin">Reserve your spot in the Beta now</h2>
            <h2 class="h2margin">and get in sync!</h2>
            <a href="#">join beta</a>
            <div class="arrowdown"></div>
        </div>
    </div>
</section>
<section class="searchfilter_section">
    <div class="container">
        <div class="searchfilter">
            <h1>Powerful Search Filters & Tags</h1>
            <h1 class="h1margin">for Business Professionals</h1>
            <div class="text_tag">
                <p>As a next generation relationship management platform, The Sync Spot provides powerful, simple tools for filtering contacts, tagging and shorcutting with advanced demographic and geographic targeting.</p>
                <p class="marginp">Whether 100 or 10,000 contacts, create sophisticated filters with just a few clicks.  The Sync Spot is an ideal campaign tool for business professionals.</p>
            </div>
            <div class="tag cf">
                <span>day <strong>X</strong> </span>
                <span>local <strong>X</strong> </span>
                <span>blue <strong>X</strong> </span>
                <span>dub <strong>X</strong> </span>
                <span>action <strong>X</strong> </span>
                <span>fruit <strong>X</strong> </span>
                <span>silk <strong>X</strong> </span>
                <span class="plus"> <strong class="triangle"></strong> <strong>+</strong> </span>
            </div>
        </div>
    </div>
</section>
<section class="trackall_section">
    <div class="container">
        <div class="trackall">
            <div class="left_track">
                <h1>Track user activity across</h1>
                <h1 class="h1margin">your network at a glance</h1>
                <p>Our ultra-flexible activity wall features everything you need to get the job done, saving time in your daily workflow.</p>
                <p class="lastp">Quickly see all updates without jumping from tab-to-tab or app-to-app, utilizing the best solution on the market today. </p>
            </div>
            <div class="right_track">
                <h1>merge & eliminate dupIcates</h1>
                <h1 class="h1margin">giving you peace of mind</h1>
                <p>An innovative de-dupe manager eliminates time wasted sorting through and merging duplicate contact info.</p>
                <p class="lastp">The Sync Spot was built from the ground up to dominate your data and simplify your life, period.</p>
            </div>
        </div>
    </div>
</section>
<section class="contactcloud_section">
    <div class="container">
        <div class="contactcloud">
            <div class="logo">
                <img src="img/logo.png" alt="logo">
            </div>
            <div class="logo_text">
                <h1>Sync Spot’s “Contact cloud” ensures</h1>
                <h1 class="h1margin">you’ll always stay in sync</h1>
                <p>We are obsessed with Sync. In the coming months we’ll be adding powerful social, mobile and desktop features including texting, email, calendars, and notes. As contact communication expands, Sync Spot will remain the most efficient tool to manage your relationships with minimal effort.</p>
            </div>
            <div class="arrowdown"></div>
        </div>
    </div>
</section>
<section class="contactfrom_section">
    <div class="container">
        <div class="contactfrom">
            <h1>still have questions? reach out!</h1>
            <div class="address">
                <div class="call">
                    <h2>call us</h2>
                    <span>323.931.5050</span>
                </div>
                <div class="emailus">
                    <h2>email us</h2>
                    <span>info@thesyncspot.com</span>
                </div>
            </div>
            <div class="contact_from">
                <form action="index.php">
                    <input type="text" class="name" placeholder="name">
                    <input type="text" class="title" placeholder="title"><br>
                    <input type="text" class="company" placeholder="company"><br>
                    <input type="text" class="email" placeholder="email">
                    <input type="text" class="phone" placeholder="phone"><br>
                    <textarea name="message" id="message" placeholder="message"></textarea><br>
                    <input type="submit" class="sendbtn" value="submit">
                </form>
            </div>
        </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <div class="footer">
            <span>&copy; 2015 sync spot. all rights reserved.</span>
        </div>
    </div>
</footer>        
</body>
</html>